@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  font-family: 'Merriweather', serif;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed;
  z-index: 9;
  height: 60px;
  top: 0;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  position: relative;
  height: 60px;
}

.header .navbar .logo {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .navbar .logo img {
  width: 50px;
}

.header .navbar .collapse {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .navbar .collapse .nav-link {
  color: #29303b;
  font-size: 14px;
  margin-right: 20px;
  padding: 0;
  -webkit-transition: .9s;
  transition: .9s;
}

.header .navbar .collapse .nav-link:hover {
  color: #fb4226;
}

.header .navbar .formHeader {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .navbar .formHeader .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .formHeader .navbar-nav .nav-item .nav-link {
  color: #686f7a;
  font-size: 14px;
  margin-right: 20px;
  padding: 0;
  -webkit-transition: .9s;
  transition: .9s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar .formHeader .navbar-nav .nav-item .nav-link i {
  font-size: 30px;
  color: #9b9b9b;
  margin-right: 10px;
}

.header .navbar .formHeader .navbar-nav .nav-item .nav-link span {
  font-size: 13px;
}

.header .navbar .formHeader .navbar-nav .nav-item .dropdown button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  font-size: 13px;
}

.header .navbar .formHeader .navbar-nav .nav-item .dropdown button span {
  font-size: 18px;
  margin-right: 5px;
}

.header .navbar .formHeader .navbar-nav .nav-item .dropdown button span {
  color: #989586;
}

.slider {
  margin-top: 60px;
  position: relative;
}

.slider .homeTools {
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.slider .homeTools .dropdown {
  outline: none;
  padding: 10px;
}

.slider .homeTools .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
}

.slider .homeTools .dropdown .dropdown-toggle {
  position: relative;
}

.slider .homeTools .dropdown .dropdown-toggle span {
  font-size: 14px;
}

.slider .homeTools .dropdown .dropdown-toggle::after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .homeTools .flim .dropdown-toggle {
  padding: 5px 200px 5px 0;
}

.slider .homeTools .theaters .dropdown-toggle,
.slider .homeTools .date .dropdown-toggle,
.slider .homeTools .showtime .dropdown-toggle {
  padding: 5px 90px 5px 0;
}

.slider .homeTools .buyticker button {
  background: #4a4a4a;
  border: 1px solid transparent;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.container {
  max-width: 940px !important;
}

.main-container .flimblock {
  padding-top: 75px;
}

.main-container .flimblock .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .flimblock .nav .nav-item .nav-link {
  background: transparent;
  color: #29303b;
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 400;
}

.main-container .flimblock .nav .nav-item .active {
  color: #fb4226;
  font-size: 24px !important;
  margin-bottom: 30px;
}

.main-container .flimblock .nav .nav-item .nav-link:hover {
  font-size: 24px;
}
/*# sourceMappingURL=home.css.map */