@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  font-family: 'Merriweather', serif;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed;
  z-index: 9;
  height: 60px;
  top: 0;
}

.header .navbar {
  display: flex;
  justify-content: space-between !important;
  position: relative;
  height: 60px;
}

.header .navbar .logo {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.header .navbar .logo img {
  width: 50px;
}

.header .navbar .collapse {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header .navbar .collapse .nav-link {
  color: #29303b;
  font-size: 14px;
  margin-right: 20px;
  padding: 0;
  transition: .9s;
}

.header .navbar .collapse .nav-link:hover {
  color: #fb4226;
}

.header .navbar .formHeader {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.header .navbar .formHeader .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .navbar .formHeader .navbar-nav .nav-item .nav-link {
  color: #686f7a;
  font-size: 14px;
  margin-right: 20px;
  padding: 0;
  transition: .9s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navbar .formHeader .navbar-nav .nav-item .nav-link i {
  font-size: 30px;
  color: #9b9b9b;
  margin-right: 10px;
}

.header .navbar .formHeader .navbar-nav .nav-item .nav-link span {
  font-size: 13px;
}

.header .navbar .formHeader .navbar-nav .nav-item .dropdown button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 13px;
}

.header .navbar .formHeader .navbar-nav .nav-item .dropdown button span {
  font-size: 18px;
  margin-right: 5px;
}

.header .navbar .formHeader .navbar-nav .nav-item .dropdown button span {
  color: #989586;
}

.slider {
  margin-top: 60px;
  position: relative;
}

.slider .homeTools {
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.slider .homeTools .dropdown {
  outline: none;
  padding: 10px;
}

.slider .homeTools .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
}

.slider .homeTools .dropdown .dropdown-toggle {
  position: relative;
}

.slider .homeTools .dropdown .dropdown-toggle span {
  font-size: 14px;
}

.slider .homeTools .dropdown .dropdown-toggle::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider .homeTools .flim .dropdown-toggle {
  padding: 5px 200px 5px 0;
}

.slider .homeTools .theaters .dropdown-toggle,
.slider .homeTools .date .dropdown-toggle,
.slider .homeTools .showtime .dropdown-toggle {
  padding: 5px 90px 5px 0;
}

.slider .homeTools .buyticker button {
  background: #4a4a4a;
  border: 1px solid transparent;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.cinema .cinema__list {
  display: none;
}

.cinema .cinemalist .cinemalist__brand {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid #999;
  flex: 0 0 12.666667%;
}

.cinema .cinemalist .cinemalist__brand .cinema__logo {
  width: 100px;
  opacity: 0.5;
  text-align: center;
}

.cinema .cinemalist .cinemalist__brand .cinema__logo img {
  width: 80%;
  padding: 20px;
  border-bottom: 1px solid #999;
}

.cinema .cinemalist .cinemalist__brand .cinema__logo:hover {
  opacity: 1;
}

.container {
  max-width: 940px !important;
}

.main-container {
  padding: 0;
}

.main-container .filmblock {
  padding-top: 75px;
}

.main-container .filmblock .nav {
  display: flex;
  justify-content: center;
}

.main-container .filmblock .nav .nav-item .nav-link {
  background: transparent;
  color: #29303b;
  font-size: 20px;
  transition: 0.5s;
  font-weight: 400;
}

.main-container .filmblock .nav .nav-item .active {
  color: #fb4226;
  font-size: 24px !important;
  margin-bottom: 30px;
}

.main-container .filmblock .nav .nav-item .nav-link:hover {
  font-size: 24px;
}

.main-container .filmblock .row {
  padding: 0;
}

.main-container .filmblock .owl-nav .owl-prev {
  left: -100px;
}

.main-container .filmblock .owl-nav .owl-next {
  right: -100px;
}

.main-container .filmblock .owl-nav .owl-prev,
.main-container .filmblock .owl-nav .owl-next {
  color: #686f7a;
  box-shadow: none;
  font-size: 50px;
  outline: none;
  top: 60%;
}

.main-container .filmblock .owl-nav .owl-prev:hover,
.main-container .filmblock .owl-nav .owl-next:hover {
  background: transparent;
}

.item {
  padding: 15px;
}

.item .filmblock__item {
  width: 100%;
  height: 450px;
  cursor: pointer;
}

.item .filmblock__item .film__img_1 {
  background: url(../../img/bandaoposter.png);
}

.item .filmblock__item .film__img_2 {
  background: url(../../img/pinochicoposter.png);
}

.item .filmblock__item .film__img_3 {
  background: url(../../img/chuyendulichposter.png);
}

.item .filmblock__item .film__img_4 {
  background: url(../../img/dinhsuongmuposter.jpg);
}

.item .filmblock__item .film__img_1, .item .filmblock__item .film__img_2, .item .filmblock__item .film__img_3, .item .filmblock__item .film__img_4 {
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
}

.item .filmblock__item .film__img_1 .overlay, .item .filmblock__item .film__img_2 .overlay, .item .filmblock__item .film__img_3 .overlay, .item .filmblock__item .film__img_4 .overlay {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #000, transparent 100%);
}

.item .filmblock__item .film__img_1 .rate, .item .filmblock__item .film__img_2 .rate, .item .filmblock__item .film__img_3 .rate, .item .filmblock__item .film__img_4 .rate {
  text-align: center;
  width: 60px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffffff;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
}

.item .filmblock__item .film__img_1 .rate span, .item .filmblock__item .film__img_2 .rate span, .item .filmblock__item .film__img_3 .rate span, .item .filmblock__item .film__img_4 .rate span {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
}

.item .filmblock__item .film__img_1 .rate span .star, .item .filmblock__item .film__img_2 .rate span .star, .item .filmblock__item .film__img_3 .rate span .star, .item .filmblock__item .film__img_4 .rate span .star {
  margin-top: -10px;
}

.item .filmblock__item .film__img_1 .rate span .star i, .item .filmblock__item .film__img_2 .rate span .star i, .item .filmblock__item .film__img_3 .rate span .star i, .item .filmblock__item .film__img_4 .rate span .star i {
  font-size: 7px !important;
  margin: -2px;
  color: #fb4226;
}

.item .filmblock__item .film__img_1 .flimtype1, .item .filmblock__item .film__img_2 .flimtype1, .item .filmblock__item .film__img_3 .flimtype1, .item .filmblock__item .film__img_4 .flimtype1 {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 150px;
  height: auto;
  overflow: hidden;
}

.item .filmblock__item .film__img_1 .btn-play, .item .filmblock__item .film__img_2 .btn-play, .item .filmblock__item .film__img_3 .btn-play, .item .filmblock__item .film__img_4 .btn-play {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  display: none;
}

.item .filmblock__item .film__img_1 .btn-play i, .item .filmblock__item .film__img_2 .btn-play i, .item .filmblock__item .film__img_3 .btn-play i, .item .filmblock__item .film__img_4 .btn-play i {
  font-size: 14px;
}

.item .filmblock__item .film__detail .namefilm {
  font-size: 16px;
  margin-top: 10px;
}

.item .filmblock__item .film__detail .namefilm .btn-red {
  margin-right: 8px;
  color: #ffffff;
  background: #fb4226;
  border: 1px solid transparent;
  padding: 0 5px;
  border-radius: 4px;
}

.item .filmblock__item .film__detail .namefilm .btn-green {
  margin-right: 8px;
  color: #ffffff;
  background: #00ac4d;
  border: 1px solid transparent;
  padding: 0 5px;
  border-radius: 4px;
}

.item .filmblock__item .film__detail .infofilm {
  font-size: 13px;
  color: #686f7a;
  margin: 10px 0 15px 0;
}

.item .filmblock__item #buySticker {
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  display: none;
  transition: 0.5s;
}

.item .filmblock__item #buySticker:hover {
  background: #fb4226;
}

.item .filmblock__item:hover .film__detail {
  display: none;
}

.item .filmblock__item:hover #buySticker,
.item .filmblock__item:hover .overlay,
.item .filmblock__item:hover .btn-play {
  display: block;
}
/*# sourceMappingURL=home.css.map */