// CREATE THEME
//-----COLORS BACKGROUND------
$primary: #f7f8fa;
$secondary: #F2F3F5;
$paper: #ffffff;
$light: #fbfbf7;
$lightDark: #dedfe0;
$darkGrey: #4a4a4a;
$grey: #949494;
$lightGrey: #F3F3F3;
$redOrange:#fb4226;
$green : #00ac4d;
//-----COLORS TEXT------
$textPrimary: #29303b;
$textSecondary: #0f7c90;
$textWhite: #ffffff;
$colorWhiteDark: #e9e9e9;
$textGrey:  #949494;
$textLightGrey: #9b9b9b;
$textDarkGrey: #505763;
$textRedOrange:#fb4226;
$textGreen: #00ac4d;
$textGreenLight: #91d25a;
//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$subtitle: 14px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3: 30px;
$h2: 40px;
$h1: 44px;
//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;
//----------SPACING---------
$spacing: 10px;
//margin
