.cinema{
    .cinema__list{
        display:none;
    }
    .cinemalist{
        .cinemalist__brand{
            display:flex;
            flex-direction:column;
            cursor: pointer;
            border:1px solid #999;
            flex: 0 0 12.666667%;
            .cinema__logo{
                width:100px;
                opacity: 0.5;
                text-align:center;
                img{
                    width:80%;
                    padding:spacing(2);
                    border-bottom: 1px solid #999;

                }
            }
            .cinema__logo:hover{
                opacity:1;
            }
        }
    }
}