.cinema{
    display:flex;
    flex-direction: column;

}
button{
    img{
        opacity: 0.5;
    }
    img:hover{
        opacity:1;
    }
}
.tabcontent{
    opacity:0.5;
}
.tabcontent:hover{
    opacity:1;
}
.cinema,.tabcontent,.flimcontent{
  height: 350px;
  max-height: 350px;
  background-color: transparent;
  overflow: auto;
  
}
.cinema::-webkit-scrollbar{
    width:5px;
    display:none;
}
.cinema::-webkit-scrollbar-thumb{
     background:linear-gradient(to top, #999 , #000);
      border-radius:6px;
}
.cinema:::-webkit-scrollbar-track{
    
}
.cinema:hover::-webkit-scrollbar{
    display:block;

}

